.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.7);

    backdrop-filter:blur(6px);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

    z-index:9999;

}



/* MODAL BOX */

.modal{

    width:500px;

    max-width:100%;

    max-height:90vh;

    overflow-y:auto;

    background:#07172D;

    border:2px solid #FFC933;

    border-radius:22px;

    padding:35px;

    position:relative;

    animation:popup .35s ease;

}



@keyframes popup{

    from{

        transform:scale(.8);

        opacity:0;

    }


    to{

        transform:scale(1);

        opacity:1;

    }

}



/* CLOSE BUTTON */


.close-btn{

    position:absolute;

    right:18px;

    top:18px;


    width:40px;

    height:40px;


    border:none;

    border-radius:50%;


    background:#FFC933;

    color:#07172D;


    font-size:20px;

    cursor:pointer;


    transition:.3s;

}



.close-btn:hover{

    transform:rotate(180deg);

}



/* TITLE */


.modal h2{

    color:#fff;

    text-align:center;

    margin-bottom:30px;

    font-size:32px;

}



/* FORM */


.modal form{

    display:flex;

    flex-direction:column;

    gap:18px;

}



.modal input,
.modal select,
.modal textarea{


    width:100%;


    padding:15px;


    border:none;


    border-radius:12px;


    background:#102746;


    color:white;


    outline:none;


    font-size:16px;


}



.modal input:focus,
.modal select:focus,
.modal textarea:focus{

    outline:1px solid #FFC933;

}



.modal input::placeholder,
.modal textarea::placeholder{

    color:#bfcad8;

}



.modal textarea{

    resize:none;

    height:120px;

}



/* BUTTON */


.send-btn{


    width:100%;


    height:55px;


    border:none;


    border-radius:12px;


    background:#FFC933;


    color:#07172D;


    font-size:18px;


    font-weight:bold;


    cursor:pointer;


    transition:.3s;


}



.send-btn:hover{


    background:#ffd84d;


    transform:translateY(-3px);


}





/* ==========================
        TABLET
========================== */


@media(max-width:768px){


.modal{

    width:100%;

    padding:30px 25px;

    border-radius:20px;

}



.modal h2{

    font-size:27px;

    margin-bottom:25px;

}



.close-btn{

    width:36px;

    height:36px;

    right:15px;

    top:15px;

}



.modal input,
.modal select,
.modal textarea{

    font-size:15px;

    padding:14px;

}


.send-btn{

    height:52px;

    font-size:16px;

}


}





/* ==========================
       SMALL PHONE
========================== */


@media(max-width:480px){


.modal-overlay{

    padding:15px;

}



.modal{

    padding:25px 18px;

    border-radius:18px;

}



.modal h2{

    font-size:24px;

}



.modal form{

    gap:14px;

}



.modal textarea{

    height:100px;

}



.close-btn{

    width:34px;

    height:34px;

    font-size:17px;

}


}