.about{
    padding:120px 0;
    background:#081B33;
}

.about-container{
    width:90%;
    max-width:1300px;
    margin:auto;

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:70px;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:20px;
}

.about-content{
    flex:1;
}

.about-content span{
    color:#FFC933;
    font-size:18px;
    font-weight:600;
}

.about-content h2{
    color:white;
    font-size:48px;
    margin:20px 0;
}

.about-content p{
    color:#cdd7e5;
    line-height:32px;
    margin-bottom:35px;
}

.about-boxes{
    display:flex;
    gap:25px;
    margin-bottom:40px;
}

.box{
    flex:1;
    background:#102746;
    padding:25px;
    border-radius:15px;
    text-align:center;
    border:1px solid rgba(255,255,255,.08);
}

.box h3{
    color:#FFC933;
    font-size:35px;
}

.box p{
    color:white;
    margin-top:10px;
}

.about-content button{
    width:180px;
    height:55px;

    border:none;
    border-radius:10px;

    background:#FFC933;
    color:#07172D;

    font-size:16px;
    font-weight:600;

    cursor:pointer;
    transition:.3s;
}

.about-content button:hover{
    background:#ffd95c;
}

@media(max-width:992px){

.about-container{
flex-direction:column;
}

.about-boxes{
flex-direction:column;
}

}
.download-btn{
    display:flex;
    justify-content:center;
    align-items:center;

    width:260px;
    height:60px;

    background:#FFC933;
    color:#081B33;

    font-size:20px;
    font-weight:700;
    text-decoration:none;

    border-radius:12px;
    transition:.3s;
}

.download-btn:hover{
    background:#ffb700;
    transform:translateY(-3px);
}